.LangSwitcher {
  display: block;
}

.langSwitcherContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.langIcon {
  width: 28px;
  height: 28px;
  display: flex;
  margin: 0 auto;
}

.langName {
  color: var(--secondary-color);
}
