.bugIcon {
  width: 28px;
  height: 28px;
  background: none;
}

.BugButton {
  border: none;
  background: none;
  outline: none;
  padding: 0 0 0 20px;
  position: fixed;
  right: 5vw;
  bottom: 5vh;
}
