.app.light {
  --bg-color: #9494e3;
  --inverted-bg-color: #273268;
  --primary-color: #273268;
  --secondary-color: #444557;
  --inverted-primary-color: #9494e3;
  --inverted-secondary-color: #3f4359;
}
