.light {
  --bg-color: #9494e3;
  --inverted-bg-color: #0f1228;
  --primary-color: #273268;
  --secondary-color: #9d2d8d;
  --inverted-primary-color: #9494e3;
  --inverted-secondary-color: #c2bcbc;
}
